
<html>
  <%- include('fragmentos/head'); %> 
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="section section-buttons section section-dark" style="background-image: url('assets/img/repeat.png');">
        	
       <!--   

-->
<br>
<br>
  <h2 class="text-center text-white">Bebidas</h2>
<br>

<div style="background-color: 000; opacity: 0.75" class="col-md-10 mx-auto">
  
 
    <div>
    <div class="container col-md-7">


      <div class="card">
        <form>
        <img src="assets/img/cocteles/menu1.jpg">
               </form>
        </div>




        <div class="card">
          <form>
          <img src="assets/img/cocteles/menu.jpg">
                 </form>
          </div>
  
  


          <div class="card">
            <form>
            <h3 style="margin-top: 0px;" class="text-center">Margarita</h3>
            <img src="assets/img/cocteles/margarita.jpg">
            <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
                   </form>
            </div>
    
    
      
      <div class="card">
        <form>
        <h3 style="margin-top: 0px;" class="text-center bold">Yanua Fresh</h3>
        <img src="assets/img/cocteles/yanuafresh.jpg">
        <h4 style="margin-top: 0px;"class="text-center b">5,00$</h4>
               </form>
        </div>
                        <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Fuego de Agave</h2>
     <img src="assets/img/cocteles/c5.jpg">

     <h4 style="margin-top: 0px;margin-bottom: 0px;"class="text-center">5,00$</h4>
            </form>
     </div>

     
     <div class="card">
      <form>
      <h3 style="margin-top: 0px;" class="text-center">Orquidea</h3>
      <img src="assets/img/cocteles/c2.jpg">
 
      <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
             </form>
      </div>

      <div class="card">
        <form>
        <h3 style="margin-top: 0px;" class="text-center">Mojito</h3>
        <img src="assets/img/cocteles/mojito.jpg">
   
        <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
               </form>
        </div>

        <div class="card">
          <form>
          <h3 style="margin-top: 0px;" class="text-center">Piña Colada</h3>
          <img src="assets/img/cocteles/piñacolada.jpg">
     
          <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
                 </form>
          </div>


          <div class="card">
            <form>
            <h3 style="margin-top: 0px;" class="text-center">Solitario</h3>
            <img src="assets/img/cocteles/solitario.jpg">
       
            <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
                   </form>
            </div>


            <div class="card">
              <form>
              <h3 style="margin-top: 0px;" class="text-center">Pasión Yanua</h3>
              <img src="assets/img/cocteles/pasionyanua.jpg">
         
              <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
                     </form>
              </div>


    <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Michelada</h3>
     <img src="assets/img/fotos/f2.jpg">

     <h4 style="margin-top: 0px;"class="text-center">3,50$</h4>
            </form>
     </div>

  <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Bajo Tus Sueños</h3>
     <img src="assets/img/cocteles/c7.jpg">
     <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
            </form>
     </div>

      

      <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Yanua Extasis</h3>
     <img src="assets/img/cocteles/c4.jpg">
     <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
            </form>
     </div>

      

      <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Ducle Sueño a las Rocas</h3>
     <img src="assets/img/cocteles/c3.png">
     <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
            </form>
     </div>

      
      <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Secreto de Soltera</h3>
     <img src="assets/img/cocteles/c1.jpg">
     <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
            </form>
     </div>

    

     <div class="card">
      <form>
      <h3 style="margin-top: 0px;" class="text-center">Fuego en la Sangre</h3>
      <img src="assets/img/cocteles/c9.jpg">
      <h4 style="margin-top: 0px;"class="text-center">5,00$</h4>
             </form>
      </div>

      
      
      <div class="card">
        <form>
        <h3 style="margin-top: 0px;" class="text-center">Balde de Corona</h3>
        <img src="assets/img/cocteles/baldecorona.jpg">
        <h4 style="margin-top: 0px;"class="text-center">18,00$</h4>
               </form>
        </div>
   

      
        <div class="card">
          <form>
          <h3 style="margin-top: 0px;" class="text-center">Balde de Heineken</h3>
          <img src="assets/img/cocteles/baldeheineken.jpg">
          <h4 style="margin-top: 0px;"class="text-center">15,00$</h4>
                 </form>
          </div>
     
                        <h2 class="text-center text-white">Botellas</h2><br>

  <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Buchanan's Deluxe</h3>
     <img src="assets/img/fotos/f10.jpg">

     <h4 style="margin-top: 0px;"class="text-center">85,00$</h4>
            </form>
     </div>

      <div class="card">
     <form>
     <h3 style="margin-top: 0px;" class="text-center">Jagermeister</h3>
     <img src="assets/img/fotos/f77.jpg">

     <h4 style="margin-top: 0px;"class="text-center">55,00$</h4>
            </form>
     </div>
    </div>
</div>

 
    <div class="container mr-auto ml-auto col-md-2 text-center">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>

              </ul>
              <span class="copyright text-center">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i>

            </span>
</div>
</div>
<script type="text/javascript">
function checkC() {
  document.getElementById("carrusel").checked = true;
}
function checkL() {
  document.getElementById("lista").checked = true;
}
function checkG(){
  document.getElementById('galeria').checked = true;
}
</script> 
</body>

</html>