
<html>
  <%- include('fragmentos/head'); %> 

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="section section-buttons section section-dark" style="background-image: url('assets/img/repeat.png'); ">
  
  <h2 class="text-center text-white">Galería</h2>
  <ul class="container ml-auto mr-auto col-md-8">
    <a href="assets/img/fotos/f.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f.jpg"></a>
    <a href="assets/img/fotos/f76.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f76.jpg"></a>
    <a href="assets/img/fotos/f78.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f78.jpg"></a>
    <a href="assets/img/fotos/f79.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f79.jpg"></a>
    <a href="assets/img/fotos/ff1.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/ff1.jpg"></a>
    <a href="assets/img/fotos/f2.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f2.jpg"></a>
    <a href="assets/img/fotos/f77.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f77.jpg"></a>
    <a href="assets/img/fotos/f3.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f3.jpg"></a>
    <a href="assets/img/fotos/f71.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f71.jpg"></a>
    <a href="assets/img/fotos/f4.jpg"><img style="width: 150px; height: 150px;" class="" src="assets/img/fotos/f4.jpg"></a>
    <a href="assets/img/fotos/f5.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f5.jpg"></a>
    <a href="assets/img/fotos/f6.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f6.jpg"></a>
    <a href="assets/img/fotos/f74.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f74.jpg"></a>
    <a href="assets/img/fotos/f7.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f7.jpg"></a>
    <a href="assets/img/fotos/f8.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f8.jpg"></a>
    <a href="assets/img/fotos/f9.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f9.jpg"></a>
    <a href="assets/img/fotos/f10.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f10.jpg"></a>
    <a href="assets/img/fotos/f11.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f11.jpg"></a>
    <a href="assets/img/fotos/f12.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f12.jpg"></a>
    <a href="assets/img/fotos/f13.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f13.jpg"></a>
    <a href="assets/img/fotos/f14.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f14.jpg"></a>
    <a href="assets/img/fotos/f15.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f15.jpg"></a>
    <a href="assets/img/fotos/f16.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f16.jpg"></a>
    <a href="assets/img/fotos/f17.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f17.jpg"></a>
    <a href="assets/img/fotos/f18.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f18.jpg"></a>
    <a href="assets/img/fotos/f19.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f19.jpg"></a>
    <a href="assets/img/fotos/f20.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f20.jpg"></a>
    <a href="assets/img/fotos/f21.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f21.jpg"></a>
    <a href="assets/img/fotos/f22.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f22.jpg"></a>
    <a href="assets/img/fotos/f23.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f23.jpg"></a>
    <a href="assets/img/fotos/f24.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f24.jpg"></a>
    <a href="assets/img/fotos/f25.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f25.jpg"></a>
    <a href="assets/img/fotos/f26.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f26.jpg"></a>
    <a href="assets/img/fotos/f73.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f73.jpg"></a>
    <a href="assets/img/fotos/f27.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f27.jpg"></a>
    <a href="assets/img/fotos/f28.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f28.jpg"></a>
    <a href="assets/img/fotos/f29.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f29.jpg"></a>
    <a href="assets/img/fotos/f30.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f30.jpg"></a>
    <a href="assets/img/fotos/f31.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f31.jpg"></a>
    <a href="assets/img/fotos/f32.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f32.jpg"></a>
    <a href="assets/img/fotos/f33.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f33.jpg"></a>
    <a href="assets/img/fotos/f34.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f34.jpg"></a>
    <a href="assets/img/fotos/f35.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f35.jpg"></a>
    <a href="assets/img/fotos/f36.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f36.jpg"></a>
    <a href="assets/img/fotos/f37.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f37.jpg"></a>
    <a href="assets/img/fotos/f38.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f38.jpg"></a>
    <a href="assets/img/fotos/f39.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f39.jpg"></a>
    <a href="assets/img/fotos/f40.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f40.jpg"></a>
    <a href="assets/img/fotos/f41.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f41.jpg"></a>
    <a href="assets/img/fotos/f42.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f42.jpg"></a>
    <a href="assets/img/fotos/f43.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f43.jpg"></a>
    <a href="assets/img/fotos/f44.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f44.jpg"></a>
    <a href="assets/img/fotos/f45.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f45.jpg"></a>
    <a href="assets/img/fotos/f46.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f46.jpg"></a>
    <a href="assets/img/fotos/f47.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f47.jpg"></a>
    <a href="assets/img/fotos/f48.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f48.jpg"></a>
    <a href="assets/img/fotos/f49.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f49.jpg"></a>
    <a href="assets/img/fotos/f50.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f50.jpg"></a>
    <a href="assets/img/fotos/f51.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f51.jpg"></a>
    <a href="assets/img/fotos/f52.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f52.jpg"></a>
    <a href="assets/img/fotos/f53.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f53.jpg"></a>
    <a href="assets/img/fotos/f54.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f54.jpg"></a>
    <a href="assets/img/fotos/f55.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f55.jpg"></a>
    <a href="assets/img/fotos/f56.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f56.jpg"></a>
    <a href="assets/img/fotos/f57.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f57.jpg"></a>
    <a href="assets/img/fotos/f58.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f58.jpg"></a>
    <a href="assets/img/fotos/f59.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f59.jpg"></a>
    <a href="assets/img/fotos/f60.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f60.jpg"></a>
    <a href="assets/img/fotos/f61.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f61.jpg"></a>
    <a href="assets/img/fotos/f62.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f62.jpg"></a>
    <a href="assets/img/fotos/f63.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f63.jpg"></a>
    <a href="assets/img/fotos/f64.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f64.jpg"></a>
    <a href="assets/img/fotos/f65.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f65.jpg"></a>
    <a href="assets/img/fotos/f66.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f66.jpg"></a>
    <a href="assets/img/fotos/f67.jpg"><img style="width: 150px; height: 100px;" class="img-fluid" src="assets/img/fotos/f67.jpg"></a>
    <a href="assets/img/fotos/f68.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f68.jpg"></a>
    <a href="assets/img/fotos/f69.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f69.jpg"></a>
    <a href="assets/img/fotos/f70.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f70.jpg"></a>
    
    <a href="assets/img/fotos/f72.jpg"><img style="width: 150px; height: 150px;" class="img-fluid" src="assets/img/fotos/f72.jpg"></a>
    


  </ul>
    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>

              </ul>
              <span class="copyright text-center">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i>

            </span>
</div>
<style type="text/css">
  body {
  background: #444;
  margin: 0;
  font-family: monospace;
}

h1 {
  color: #fff;
  text-align: center;
}

/*Estilos de la galeria*/

.galeria {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria li {
  margin: 5px;
}

.galeria img {
  width: 150px;
  height: 100px;
}

/*Estilos del modal*/

.modal {
  display: none;
}

.modal:target {
  
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

.imagen {
  width: 100%;
  height: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.cerrar {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}
</style>
</body>

</html>