
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img//apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img//favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Yanua Discoteca
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./assets/css/paper-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container ">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" rel="tooltip" title="Yanua" data-placement="bottom" target="_blank">
          <img style="width: 18%" src="./assets/img/yanua-logo.png">
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class=" collapse navbar-collapse navbar-dark justify-content-end " id="navigation">

        <ul class="navbar-nav ">
          <li style="margin-top: -3.3%"><h4 class="text-white" >Contactanos:</h4></li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Síguenos en Facebook" data-placement="bottom" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Síguenos en Instagram" data-placement="bottom" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="Nuestro Whatsapp" data-placement="bottom" data-toggle="popover" data-placement="top"data-content="0986220173" data-original-title="Contactanos a nuestro Whatsapp" target="_blank" >
              <i class="fa fa-whatsapp"></i>
              <p class="d-lg-none">Whatsapp</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- End Navbar -->

  <div class="page-header section-dark" style="background-image: url('https://images8.alphacoders.com/663/663025.jpg')">
    <!-- 
  <div class="page-header section-dark" style="background-image: url('./assets/img/bruno-abatti.jpg')">  -->
    <div class="filter"></div>
    <div class="content-center">
      
    </div>

    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
     <div class="container">
      <div class="container">
        <div class="title-brand">
          <img style="width: 74%" src="./assets/img/yanua-logo.png">
        </div>
        <h2 style="margin-top: -3px" class="presentation-subtitle text-center">Acciona tus sentidos</h2>
        <br>

        <div class="row">
          <div class="credits ml-auto mr-auto" style="margin-bottom: 0%">
            <span class="copyright">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script> <i class="fa fa-heart heart"></i> Pablo was here
            </span>
          </div>
        </div>
               
                 
</div>
<form  style="position: top" class="text-center">
        <br>
        <button type="button" href="cocteles.html" style=" background-size: cover; position: top" class="text-center  btn btn-outline-danger btn-round"><h3 class="text-white">COCTELERÍA</h2></button>
        <button type="button" style=" background-size: cover; position: top" class="text-center  btn btn-outline-dark btn-round"><h3 class="text-white">VIDEOS</h2></button>
        <button type="button" style=" background-size: cover; position: top" class="text-center  btn btn-outline-success btn-round"><h3 class="text-white">GALERIA</h2></button>
       </form>
       </div>

  </div>

  <div class="main" style="background-color: 000">
    <div class="section section-buttons section section-dark">
      <div class="container"style="background-color: 000">
        <div class="title">

<!-- Navbar
<div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#cocteles" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Cocteles
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#yanua" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Yanua
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#videos" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons"></i> Videos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#eventos" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Eventos
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <div class="tab-content tab-space">
          <div class="tab-pane text-center gallery" id="cocteles">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="./assets/img/eva.jpg" class="rounded">
                <img src="./assets/img/examples/studio-2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/studio-5.jpg" class="rounded">
                <img src="./assets/img/examples/studio-4.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="./assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery active show" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="./assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>

 -->
 <div style="background-size: cover;" class="col-md-13 ml-auto mr-auto bg-transparent" id="carousel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card page-carousel card-raised">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c4.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Yanúa éxtasis</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c2.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>La Orquidea</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c5.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Fuego de agave</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c1.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Secreto de soltera</p>
                    </div>
                  </div>
                </div>

                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <form>
    <div class="card bg-transparent col-md-9 text-center ml-auto mr-auto">

   <h2 class="text-white">Horario de atención:</h3>
          <ul>
            <li>
              <h4 class="text-danger">Jueves: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-primary">Viernes: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-success">Sábado: 20:00 - 3:00</h4>
            </li>
          </ul>
 </div></form>
          <div class="card col-md-9 bg-transparent text-white ml-auto mr-auto">
          <h2>Reservaciónes</h2>
          <h3>Hacemos reservaciónes del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h3>
        </div>
        <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
              <p class="text-danger">Instagram</p>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="text-primary">Facebook</p>
            </a>
              </ul>
            </div>
<!--
            <div class="col-md-13 ml-auto mr-auto bg-transparent" >
              <iframe  class="card bg-transparent mr-auto ml-auto" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4336.688431365856!2d-78.58341360486318!3d-3.625990925821618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sec!4v1568180908047!5m2!1ses!2sec" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

        -->
          
          
          <br>
          <br>

  <footer class="footer footer-black  footer-white ">
      <div class="container">
        <div class="row">
          <div class="credits ml-auto">
            
          </div>
        </div>
      </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="./assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="./assets/js/plugins/moment.min.js"></script>
    <script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="./assets/js/paper-kit.js?v=2.2.0" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=369"></script>
    <script>
      $(document).ready(function() {

        if ($("#datetimepicker").length != 0) {
          $('#datetimepicker').datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
            }
          });
        }

        function scrollToDownload() {

          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      });
    </script>
</body>

</html>