
<html>
  <%- include('fragmentos/head'); %> 
<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="page-header section-dark" style=" background-image: url('./assets/img/fondo7.jpg')"> 
    <div class="content-center">
      <div class="moving-clouds" style="position: bottom; background-image: url('./assets/img/clouds.png'); opacity: 0.84 background-color: 0080;">
</div>

    </div>

    <div class="container gallery" style="position: static;">



      <div class="container">
        <div class="title-brand">
          <img style="width: 57%; " src="./assets/img/yanua-logo.png">
        </div>

        <h2 style="margin-top: -3px" class="presentation-subtitle text-center">Acciona tus sentidos</h2>
      </div>
    </div>

  </div>
    <div class="section section-buttons section section-dark"style="background-image: url('assets/img/repeat.png'); ">
       <!--   Votación x estrellas  <div class="container col-md-10 card bg-info ">
                <a class="h4 text-dark" href="/coments">Ingresa aquí a nuestro muro de comentarios y participa para el sorteo de un wisky Jhonny Walker - Red Label, con hacer tu comentario participas automáticamente para el sorteo que se realizará el día sábado 28 de septiembre.</a>
              </div> -->

      

       
      <div class=""style="background-color: 000;">
        <div class="gallery col-md-9 mx-auto ">
    <a href="/cocteles" class="figure3"> <h1>Bebidas</h1><img style="width: 100%" class="" src="assets/img/cocteles/c8.jpg"></a>
    <a href="/videos" class="figure3"><h1>videos</h1><video style="width: 100%" class="" autoplay="true" muted="true" src="assets\img\videos\v3.mp4">  </video>
    <a href="/galeria" class="figure3"><h1>Club</h1><img style="width: 100% " class="" src="assets/img/fotos/f66.jpg"></a>
    <a href="/coments" class="figure3"><h1>Comentarios</h1><img style="width: 100% " class="" src="assets/img/avatar.jpg"></a>
  </div>
        <div class="title">

 
    <form>
      <br>
    <div class=" bg-transparent col-md-9 ml-auto mr-auto">
      



   <h3 class="text-white">Open Bar:</h3>
          <ul>
            <li>
              <h4 class="text-danger">Jueves: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-primary">Viernes: 20:00 - 3:00</h4>
            </li>
            <li>
              <h4 class="text-success">Sábado: 20:00 - 3:00</h4>
            </li>
          </ul>
 </div>
</form >
          <div class=" col-md-9 bg-transparent text-white ml-auto mr-auto">
          <h3>Reservaciónes</h3>
          <h4>Hacemos reservaciónes del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h4>
        </div>


<!--
        -->



        <br>
          </div>
  
     <ul class="col-md-9 mx-auto nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
              <p class="text-danger">Instagram</p>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="text-primary">Facebook</p>
            </a>
            
               
<br>  
</ul>

              <!-- 
     <% if (new Date().getDay()== 1) {  %> 

      <h3 class="text-white text-center">Buen Inicio de semana Yanueros!</h3>
      <% }else if(new Date().getDay()== 2){ %>

      <h3 class="text-white text-center">Excelente martes!</h3>
      <% }else if(new Date().getDay()== 3){ %>

     <% }else if(new Date().getDay()== 4){ %>

     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/j.jpg">
<img class="figure2" src="./assets/img/fotos/days/j2.jpg"></ul>
</div>
<h3 class="text-center text-white">Jueves no te ahueves!!!</h3>

     <% }else if(new Date().getDay()== 5){ %>
     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/v.jpg">
<img class="figure2" src="./assets/img/fotos/days/v1.jpg">
<img class="figure2" src="./assets/img/fotos/days/v2.jpg">

</ul>
</div>
<h3 class="text-center text-white">Es viernes y el cuerpo lo sabe!!</h3>


     <% }else if(new Date().getDay()== 6){ %>
     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/s1.jpg">
<img class="figure2" src="./assets/img/fotos/days/s.jpg"></ul>
</div>
<h3 class="text-center">Sábado de rumba, si señor!!</h3>

     <% }else if(new Date().getDay()== 0){ %>
     <h4 class="">Domingo</h4>

     <% }else{%>
     <% }%>-->
     <br>
  <form  class="text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7727.162091859452!2d-78.58422955471676!3d-3.6261449546933564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cc7fdcd7d85c27%3A0x8336b86a5b2424dd!2sYanua%20Bar%20Discoteca!5e0!3m2!1ses!2sec!4v1568667247955!5m2!1ses!2sec" width="250" height="230" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
            <b>Nuestra ubicación en el mapa</b></form>
              <br>
              <br>
              <!-- 
              <a class="nav n" rel="tooltip" title="Coments"  href="/coments" >
              <i class="fa fa-key heart bg-transparent"></i>
            </a>
Navbar -->
          </div>

              

          <br>
          <br>


    
</body>

</html>