
<!DOCTYPE html>
<html lang="en">
  <%- include('fragmentos/head'); %> 
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 


  <div class="page-header section-dark filter" style=" background-image: url('https://images8.alphacoders.com/663/663025.jpg')">

    <div class="content-center">
      <div class="moving-clouds" style="position: bottom; background-image: url('./assets/img/clouds.png');">
        
      </div>

      <div class="filter"></div>

    </div>

    <div class="container" style="position: static;">
      <div class="container">
        <div class="title-brand">
          <img style="width: 69%;" src="./assets/img/yanua-logo.png">
        </div>
        <h2 style="margin-top: -3px" class="presentation-subtitle text-center">Acciona tus sentidos</h2>
      </div>
    </div>
  </div>

  <div class="main" style="background-color: 000">
  	
    <div class="section section-buttons section section-dark">
      <form  style="margin-top: -3px; margin-bottom: 3px" class="text-center">
        <button type="button" style=" background-size: cover; position: top" class="text-center  btn btn-outline-danger btn-round" href="#cocteles" aria-selected="false"><h3 class="text-white">COCTELERÍA</h3></button>
        <button type="button" style=" background-size: cover; position: top" class="text-center  btn btn-outline-primary btn-round" href="#videos" aria-selected="false"><h3 class="text-white">VIDEOS</h3></button>
        <button type="button" style=" background-size: cover; position: top" class="text-center  btn btn-outline-success btn-round" href="#galeria" aria-selected="false"><h3 class="text-white">GALERIA</h3></button>
       </form>
       <div> 
        <form class="text-center ">
      <video class=" img-fluid" src="assets\img\videos\v1.mp4" poster="presentacion.jpg" controls autoplay muted loop></video>
      <video class=" img-fluid" src="assets\img\videos\v2.mp4" poster="presentacion.jpg" controls autoplay muted loop></video>
      <video class=" img-fluid" src="assets\img\videos\v3.mp4" poster="presentacion.jpg" controls autoplay muted loop></video>
      </form>
       </div>
     


    	
       <!--   

-->
      <div class="container"style="background-color: 000">
        <div class="title">
 <div style="background-size: cover;" class="col-md-13 ml-auto mr-auto bg-transparent" id="carousel">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card page-carousel card-raised">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c4.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Yanúa éxtasis</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c2.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>La Orquidea</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c5.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Fuego de agave</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="assets/img/cocteles/c1.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                      <p>Secreto de soltera</p>
                    </div>
                  </div>
                </div>

                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form>
    <div class="card bg-transparent col-md-8 text-center ml-auto mr-auto">

   <h3 class="text-white">Horario de atención:</h3>
          <ul>
            <li>
              <h4 class="text-danger">Jueves: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-primary">Viernes: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-success">Sábado: 20:00 - 3:00</h4>
            </li>
          </ul>
 </div>
</form>
          <div class="card col-md-12 bg-transparent text-white ml-auto mr-auto">
          <h3>Reservaciónes</h3>
          <h4>Hacemos reservaciónes del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h4>
        </div>
        <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
              <p class="text-danger">Instagram</p>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="text-primary">Facebook</p>
            </a>
              </ul>
            </div>



<!--
            <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#cocteles" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Cocteles
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#yanua" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Yanua
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#videos" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons"></i> Videos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#eventos" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Eventos
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <div class="tab-content tab-space">
          <div class="tab-pane text-center gallery" id="cocteles">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="assets/img/cocteles/c4.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery active show" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="./assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>

            <div class="col-md-13 ml-auto mr-auto bg-transparent" >
              <iframe  class="card bg-transparent mr-auto ml-auto" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4336.688431365856!2d-78.58341360486318!3d-3.625990925821618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sec!4v1568180908047!5m2!1ses!2sec" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

        -->
          
          
          <br>
          <br>

  <footer class="footer footer-black  footer-white ">
      <div class="container section-dark">
        <div class="row">
          <div class="credits ml-auto mr-auto" style="margin-bottom: 0%">
            <span class="copyright">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i> 
            </span>
          </div>
        </div>
      </div>
    </footer>
    
</body>

</html>