
<html>
  <%- include('fragmentos/head'); %> 
<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 


    <div class="page-header section-dark" style="  background-image: url('./assets/img/fondo1.jpg')"> 
    <div class="content-center">
      <div class="moving-clouds" style="position: bottom; background-image: url('./assets/img/clouds.png'); opacity: 0.9 background-color: 0080;">
</div>
    </div>

    <div class="container" style="position: static;">
      <div class="container">
        <div class="title-brand">
          <img style="width: 69%; " src="./assets/img/yanua-logo.png">
        </div>
        <h2 style="margin-top: -3px" class="presentation-subtitle text-center">Acciona tus sentidos</h2>
      </div>
    </div>
  </div>
    <div class="section section-buttons section section-dark"style="background-image: url('assets/img/repeat.png'); ">
       <!--   Votación x estrellas   -->
<form style="margin-bottom: -15%" class="col-md-2 text-center ml-auto">
<div class="card bg-transparent">
<a class="b text-center text-white btn btn-danger" style="margin-bottom: 0%; margin-top: 3.3px; background-color:000;" href="/videos" aria-selected="false">VIDEOS</a>
<a class="b text-center text-white btn btn-danger " style="margin-bottom: 0%; margin-top: 3.3px; background-color:000;" href="/cocteles" aria-selected="false">BEBIDAS</a>
<a class="b text-center text-white btn btn-danger " style="margin-bottom: 0%; margin-top: 3.3px; background-color:000;" href="/galeria" aria-selected="false">GALERIA</a>
<br>
</div>
       </form>

       
      <div class="container"style="background-color: 000;">
        
        <div class="title">
 
    <form>
      <br>
    <div class=" bg-transparent col-md-9 ml-auto mr-auto">
      <div class="container col-md-10 card bg-info ">
                <a class="h4 text-dark" href="/coments">Ingresa a nuestro muro de comentarios y participa para el sorteo de un wisky Jhonny Walker - Red Label, con hacer tu comentario participas automáticamente para para el sorteo que se realizará el día sábado 28 de Septiembre en nuestro local</a>
              </div>

   <h3 class="text-white">Open Bar:</h3>
          <ul>
            <li>
              <h4 class="text-danger">Jueves: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-primary">Viernes: 20:00 - 3:00</h4>
            </li>
            <li>
              <h4 class="text-success">Sábado: 20:00 - 3:00</h4>
            </li>
          </ul>
 </div>
</form >
          <div class=" col-md-9 bg-transparent text-white ml-auto mr-auto">
          <h3>Reservaciónes</h3>
          <h4>Hacemos reservaciónes del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h4>
        </div>


<!--
            <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#cocteles" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Cocteles
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#yanua" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Yanua
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#videos" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons"></i> Videos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#eventos" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons"></i> Eventos
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <div class="tab-content tab-space">
          <div class="tab-pane text-center gallery" id="cocteles">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
                <img src="assets/img/cocteles/c2.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="assets/img/cocteles/c4.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery active show" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="./assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="./assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="./assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="./assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="./assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>

            <div class="col-md-13 ml-auto mr-auto bg-transparent" >
              <iframe  class="card bg-transparent mr-auto ml-auto" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4336.688431365856!2d-78.58341360486318!3d-3.625990925821618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sec!4v1568180908047!5m2!1ses!2sec" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
<br>
        --><br>
          </div>
  
     <ul class="col-md-9 mx-auto nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
              <p class="text-danger">Instagram</p>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="text-primary">Facebook</p>
            </a><form><iframe class="ml-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7727.162091859452!2d-78.58422955471676!3d-3.6261449546933564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cc7fdcd7d85c27%3A0x8336b86a5b2424dd!2sYanua%20Bar%20Discoteca!5e0!3m2!1ses!2sec!4v1568667247955!5m2!1ses!2sec" width="250" height="230" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
            <b>Nuestra ubicación en el mapa</b></form>
            
               
<br>  
            

              </ul>
              <br>
              <br>
              <!-- 
              <a class="nav n" rel="tooltip" title="Coments"  href="/coments" >
              <i class="fa fa-key heart bg-transparent"></i>
            </a>
Navbar -->
          </div>

              

          <br>
          <br>


    
</body>

</html>