
<html style="margin-bottom: 0px">
  <%- include('fragmentos/head'); %> 
<body>

  <%- include('fragmentos/navbar'); %> 
  <div class="section-dark text-center">
  </div>
    <div class="page-header section-dark" style=" background-image: url('./assets/img/fondo7.jpg')">
 
    <div class="content-center">
      <div class="moving-clouds" style="position: bottom; background-image: url('./assets/img/clouds.png'); opacity: 0.84 background-color: 0080;">
</div>

    </div>

    <div class="container gallery" style="position: static;">   <div class="container">
     
        <div class="title-brand">

          <img style="width: 81% " src="./assets/img/logo-yanua.png">
        </div>

        <h2 style="margin-top: -3px" class="presentation-subtitle text-center">Acciona tus sentidos</h2>
      </div>
    </div>

  </div>
    <div class="section section-buttons section section-dark"style="background-image: url('assets/img/repeat.png'); margin-bottom: 0px">
       
      <div class=""style="background-color: 000;">
<div class="title-brand" style="margin-top: -5%">

   
  <video controls="true" class="ctext-center mx-auto" style="  width: 100%; "  src="./assets/img/intro.mp4"></video>
</div>

     <div class="title row col-md-10 mx-auto">

  <div class="  card-body col-md-7 col-sm-8  text-white  ml-auto mr-auto" style="background-color: #0E0010">

          <h4>"YANUA", La unión de dos palabras propias de la cultura de nuestros indios amazónicos conocidos como los valientes "Shuar", de las cuales: <br><br>
            <b class="text-info">"Ya"</b> significa estrella, y <br>
            <b class="text-info">"Nua"</b>, mujer. <br><br>
Para honrar nuestra tierra, la tierra en donde nacimos, tomamos la decisión de unir las dos palabras en una. <br>
Así es como se originó el nombre "YANUA" inspirado en esta cultura que significa <b class="text-info">MUJER ETRELLA.</b> <br>
Para quienes hacemos Yanua siempre será un placer atenderlos y dar lo mejor de nosotros <br>
Para que te lleves grandes y bellos momentos más la satisfacción de haber vivido la mejor experiencia de tu vida, nuestro mejor orgullo es que somos auténticos, con la mejor inversión para disfrute de los miembros del club!, innovamos y siempre siendo originales</h4>
        </div>
    <div class=" bg-transparent col-md-5 col-sm-5 ml-auto mr-auto">
      <div class="fb-page" data-href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" data-tabs="timeline" data-width="" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413">Yanua Bar Discoteca</a></blockquote></div>
     <h3 class="text-white ">Open Bar:</h3>
          <ul>
            <li>
              <h4 class="text-danger">Jueves: 20:00 - 12:00</h4>
            </li>
            <li>
              <h4 class="text-primary">Viernes: 20:00 - 3:00</h4>
            </li>
            <li>
              <h4 class="text-success">Sábado: 20:00 - 3:00</h4>
            </li>
          </ul>
 </div> <br>
          </div>
        <div class="gallery col-md-9 mx-auto ">
    <a href="/cocteles" class="figure3"> <h1>Bebidas</h1><img style="width: 100%" class="" src="assets/img/cocteles/c4.jpg"></a>
    <a href="/videos" class="figure3"><h1>Videos</h1><video style="width: 100%" class="" autoplay="true" muted="true" src="assets\img\videos\v3.mp4"loop>  </video>
    <a href="/galeria" class="figure3"><h1>Galería</h1><img style="width: 100% " class="" src="assets/img/fotos/f73.jpg"></a>
    <a href="/coments" class="figure3"><h1>Comentarios</h1><img style="width: 100% " class="" src="assets/img/avatar.jpg"></a>
  </div>
        <br>   
 
<div class="container row mx-auto" style=" background-color: #540A60; margin-top: 0%">
          <h2 class="text-center mx-auto strong text-white" style="margin-top: 0px; opacity: 0.9">Nuestro personal</h2>
        </div>
         <div class="container row col-md-9 text-center mx-auto gallery" style="margin-left: 0px; margin-right: 0px;text-align: center; margin-top: 30px">
   
      <div class="card ">

     <b class="figure4"><h2>Gerente</h2><img style="width: 100% " class="" src="assets/img/pipol/f80.jpg"></b>
     <form><h4 style="margin-top: 0px;">Freddy Armijos</h4>
     <a href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413"><i class="fa fa-facebook"></i></a>  
     <a title="" href="https://api.whatsapp.com/send?phone=5930986220173&text=Hola,%20" target="_blank">
              <i class="fa fa-whatsapp"></i></a>
            </form>
          </div>
     <div class="card">
     <b class="figure4"><h2>Barra</h2><b></b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <h4 style="margin-top: 0px;">Alexandra</h4>
     </div>
     <div class="card">
     <b class="figure4"><h2>Barman</h2><img style="width: 100% " class="" src="assets/img/pipol/f13.jpg"></b>
     <form>
     <h4 style="margin-top: 0px;">Iván Wachapá</h4>
     <a href="https://www.facebook.com/barman.wc"><i class="fa fa-facebook"></i></a>  
     <a title="" href="" target="_blank">
              <i class="fa fa-whatsapp"></i></a>
            </form>
     </div>
     <div class="card">
     <b class="figure4"><h2>DJ</h2><img style="width: 100% " class="" src="assets/img/dj-lenin2.jpg"></b>
     <form>
     <h4 style="margin-top: 0px;">Cristian Guarnizo</h4>
     <a href="https://www.instagram.com/leninrojasmusic/"><i class="fa fa-instagram"></i></a>  
     <a href="https://www.facebook.com/lenin.rojas.372"><i class="fa fa-facebook"></i></a>  
     <a title="" href="https://api.whatsapp.com/send?phone=5930997181043&text=Hola,%20" target="_blank">
              <i class="fa fa-whatsapp"></i></a>
            </form>
     </div>

     <div class="card">
     <b class="figure4"><h2>Mesero</h2><b>Developer</b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <form>
      <h4 style="margin-top: 0px;">Pablo Torres</h4>
     <a href="https://www.instagram.com/jpablo_torres23/"><i class="fa fa-instagram"></i></a>  
     <a href="https://www.facebook.com/369Torres"><i class="fa fa-facebook"></i></a>  
     <a title="" href="https://api.whatsapp.com/send?phone=593985773437&text=Hola,%20" target="_blank">
              <i class="fa fa-whatsapp"></i></a>
            </form>
     </div>

     <div class="card">
     <b class="figure4"><h2>Mesero</h2><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <form>
      <h3 style="margin-top: 0px;">Byron Tirado</h3></b>
      
     <a href="https://www.instagram.com/_byron_15/"><i class="fa fa-instagram"></i></a>  
     <a href="https://www.facebook.com/ByRonaldo15"><i class="fa fa-facebook"></i></a>  
     <a title="" href="https://api.whatsapp.com/send?phone=5930969683848&text=Hola,%20" target="_blank">
              <i class="fa fa-whatsapp"></i></a>
            </form>
     </div>
     
     <div class="card">
     <b class="figure4"><h2>Guardia</h2><b></b> <img style="width: 100% " class="mx-auto my-auto" src="assets/img/pipol/f65.jpg"></b>
     <h4 style="margin-top: 0px;">Chiky Caicedo</h4>
     </div>
     <div class="card">
     <b class="figure4"><h2>Guardia</h2><b></b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <h4 style="margin-top: 0px;">Byron Jumbo</h4>
     </div>
     <div class="card">
     <b class="figure4"><h2>Guardia</h2><b></b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <h4 style="margin-top: 0px;">Carlos Ramiro</h4>
     </div>

      </div>
<div class="row mx-auto">
  <div class="col-md-4 col-sm-4 bg-transparent text-white ml-auto mr-auto">
          <h3>Reservaciones</h3>
          <h4>Hacemos reservaciones del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h4>
<ul class="col-md-12 mx-auto nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
              <p class="text-danger">Instagram</p>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <p class="text-primary">Facebook</p>
            </a>             
<br>  
</ul>
        </div>
      
        </div>

          <div class="col-md-9 col-sm-9 bg-transparent text-white ml-auto mr-auto">

            <b>Nuestra ubicación en el mapa</b>
     <div class="container-fluid"> <div class="map-responsive"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7727.162091859452!2d-78.58422955471676!3d-3.6261449546933564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cc7fdcd7d85c27%3A0x8336b86a5b2424dd!2sYanua%20Bar%20Discoteca!5e0!3m2!1ses!2sec!4v1568667247955!5m2!1ses!2sec" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br></div>  </div>  
        </div>
<!--

 <div class="title row col-md-10 text-center mx-auto">
    <div class=" bg-transparent gallery col-md-9 ml-auto">
     <h2 class="text-white col-md-5">Nuestro Personal <br></h2><br><br>
     <b class="figure4"><h1>Gerente</h1><b>Freddy Armijos</b><img style="width: 100% " class="" src="assets/img/fotos/f80.jpg"></b>
     <b class="figure4"><h1>Barman</h1><b>Ivan Wachapa</b><img style="width: 100% " class="" src="assets/img/fotos/f13.jpg"></b>
     <b class="figure4"><h1>Mesero</h1><b>Byron Tirado</b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <b class="figure4"><h1>Mesero</h1><b>Pablo Torres</b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <b class="figure4"><h1>Guardia</h1><b>Chiky Caicedo</b> <img style="width: 100% " class="mx-auto my-auto" src="assets/img/fotos/f65.jpg"></b>
     <b class="figure4"><h1>Guardia</h1><b>Byron Jumbo</b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
     <b class="figure4"><h1>Guardia</h1><b>Byron Jumbo</b><img style="width: 100% " class="" src="assets/img/avatar.jpg"></b>
 </div>
        <div class="card col-md-3 col-sm-3 bg-transparent text-white ml-auto mr-auto">
              

          <br>
        </div>
      </div>













 <div class="col-md-4 col-sm-4 bg-transparent text-white ml-auto mr-auto">
          <h3>Reservaciónes</h3>
          <h4>Hacemos reservaciónes del local para bodas, cumpleaños o cualquier tipo de eventos, contáctenos al número 0986220173 o a cualquiera de nuestras redes sociales  </h4>

        </div>
        -->



          
     

              <!-- 
     <% if (new Date().getDay()== 1) {  %> 

      <h3 class="text-white text-center">Buen Inicio de semana Yanueros!</h3>
      <% }else if(new Date().getDay()== 2){ %>

      <h3 class="text-white text-center">Excelente martes!</h3>
      <% }else if(new Date().getDay()== 3){ %>

     <% }else if(new Date().getDay()== 4){ %>

     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/j.jpg">
<img class="figure2" src="./assets/img/fotos/days/j2.jpg"></ul>
</div>
<h3 class="text-center text-white">Jueves no te ahueves!!!</h3>

     <% }else if(new Date().getDay()== 5){ %>
     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/v.jpg">
<img class="figure2" src="./assets/img/fotos/days/v1.jpg">
<img class="figure2" src="./assets/img/fotos/days/v2.jpg">

</ul>
</div>
<h3 class="text-center text-white">Es viernes y el cuerpo lo sabe!!</h3>


     <% }else if(new Date().getDay()== 6){ %>
     <div class="card gallery bg-transparent" >
  <ul class="text-center">
<img class="figure2" src="./assets/img/fotos/days/s1.jpg">
<img class="figure2" src="./assets/img/fotos/days/s.jpg"></ul>
</div>
<h3 class="text-center">Sábado de rumba, si señor!!</h3>

     <% }else if(new Date().getDay()== 0){ %>
     <h4 class="">Domingo</h4>

     <% }else{%>
     <% }%>-->
     
              <br>
              <!-- 
              <a class="nav n" rel="tooltip" title="Coments"  href="/coments" >
              <i class="fa fa-key heart bg-transparent"></i>
            </a>
Navbar -->
<div class="col-md-12">
            <div class="paddingTop30px">
                <a class="text-white" href="#"><p class="float-right"><i class="fa fa-caret-up text-info"></i>Ir al principio</a></p>
                <!-- 

                    <p class="text-white "><b><i class="icons fa fa-envelope"></i></b> gerencia@megaclean.com.ec</p> -->
                
            </div>
        </div>
          </div>

              

          <br>
          <br>


    
</body>
<footer class="container-fluid" style="font-size:120%;margin-bottom: 0px">
  <div class="" style="background-color: ;margin-bottom: 0px"> 
    <div class="row" style="background-color: #540A60; margin-bottom: 0px">
      <br>
        <div class="col-md-12 row mx-auto" style="margin-top: 12px; ">

           
            <div class="card bg-dark col-md-5 mr-auto col-sm-4" style="opacity: 0.8">
                    <p class="text-primary"><b>Dirección:</b></p>
                    <p class="text-white left"><b><i class="icons fa fa-home"></i></b> <b>El Pangui - Zamora Ch - Ecuador </b><br>A una cuadra del Coliseo Municipal</p>
                    <a href="https://maps.google.com/maps?ll=-3.625934,-78.580493&z=14&t=m&hl=es&gl=EC&mapclient=embed&cid=9454947234646074589" target="_blank">
                    <p class="text-white left"><b class="text-danger">Ver en el mapa</b></p></a>
            </div>

            <div class="card bg-dark col-md-4 col-sm-3 nav-link ml-auto col-sm-5" style="opacity: 0.8; ">
                    <p class="text-primary"><b>Contáctenos:</b></p>
                    <p class="text-white "><b><i class="icons fa fa-phone"></i></b> +593 986220173</p>
                    <p class="">

                        <a class="text-white" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
                            <i class="fa fa-facebook text-info"style="margin-left:10px;"></i>
                        </a>
                        <a class="text-white" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
                            <i class="fa fa-instagram text-danger" style="margin-left:10px;"></i>
                        </a>

                         <a class="" title="Escríbenos a Whatsapp" data-placement="bottom" href="https://api.whatsapp.com/send?phone=5930986220173&text=Hola,%20" target="_blank">
                            <i class="fa fa-whatsapp text-success"style="margin-left:10px;"></i>
                        </a>
                    </p>

            </div>

        </div>
      </div>  <p style="" class="text-white mx-auto text-center">© 2019  DB &middot; Yanua &middot; </p>


    </div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>
</footer>
</html>