
<html lang="en">
  <%- include('fragmentos/head'); %> 
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="section section-buttons section section-dark">
         	
       <!--   

-->
 <div> 
        <form class="text-center ">
      <video class=" img-fluid" src="assets\img\videos\v1.mp4" poster="presentacion.jpg" controls="" autoplay="" muted="" loop=""></video>
      <video class=" img-fluid" src="assets\img\videos\v2.mp4" poster="presentacion.jpg" controls="" autoplay="" muted="" loop=""></video>
      <video class=" img-fluid" src="assets\img\videos\v3.mp4" poster="presentacion.jpg" controls="" autoplay="" muted="" loop=""></video>
      </form>
       </div>
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>

              </ul>
              <span class="copyright text-center">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i>

            </span>
</div>
</body>

</html>