
<html>
  <%- include('fragmentos/head'); %> 
  <script language="javascript">
function popupWin() {
text =  "<html>\n<head>\n<title>Participa del sorteo de una botella de Wisky Jhonny Rojo</title>\n<body>\n";
text += "<center>\n<br>";
text += "<a href='/coments' target='_blank'><h2>Directorio de recursos web</h2></a>";
text += "</center>\n</body>\n</html>\n";
setTimeout('windowProp(text)', 1000);       // 1 segundo para abrir
}
function windowProp(text) {
newWindow = window.open('','newWin','width=300,height=100');
newWindow.document.write(text);
setTimeout('closeWin(newWindow)', 5000);    // 5seg. tiempo que dura abierta
}
function closeWin(newWindow) {
newWindow.close();              // 
}
//  End -->
</script>
<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <%- include('fragmentos/navbar'); %> 

    <div class="section section-buttons section section-dark" style="background-image: url('assets/img/repeat.png');">
         	
       <!--   
<br><br>
-->

<br><br>
  <h2 class="text-center text-white">Videos</h2>
<br>
<div class="container  col-md-9 " style="background-color: 000; opacity: 0.75">
  <div class="row text-center img-fluid "> 
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v9.mp4"  controls="" loop=""><img src="assets\img\face.jpg"></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v10.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v11.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v1.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v2.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v3.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v4.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v5.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v6.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v7.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      <video class="col-md-4 row img-fluid mr-auto ml-auto card bg-transparent" src="assets\img\videos\v8.mp4" poster="assets\img\face.jpg" controls="" loop=""></video>
      
       </div>
       <div class="container mr-auto ml-auto col-md-2 text-center">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <a class="nav-link h3" title="Síguenos en Instagram" data-placement="right" href="https://www.instagram.com/yanuadiscobar/" target="_blank">
              <i class="fa fa-instagram "></i>
            </a>
            <a class="nav-link h3" title="Síguenos en Facebook" data-placement="left" href="https://www.facebook.com/Yanua-Bar-Discoteca-279815565372413" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>

              </ul>
              <span class="copyright text-center">©
              <script>
                document.write(new Date().getFullYear())
              </script> 
              <i class="fa fa-heart heart"></i>

            </span>
</div>
</div>
</div><script> 
  var n=0;
var video = document.getElementById("videoPlayer");
function playPause() { 
    if (video.paused) 
        video.play(); 
    else 
        video.pause(); 
}
function reload() { 
   video.load(); 
}
function makeLarge() { 
    video.width = 1000; 
}
function makeSmall() { 
    video.width = 250; 
} 
function makeNormal() { 
    video.width = 500; 
} 
</script>
</body>

</html>